body{
    background-image: linear-gradient(326deg, #5822b4 20%, rgb(15, 15, 15) 74%);
    margin: 0!important;
    padding: 0!important;
}

#div1{
    background-image: linear-gradient(326deg, #5822b48a 20%, rgba(15, 15, 15, 0.778) 74%), url("../img/tileburnedin.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
    position: relative;
}

.nav-clone{
    background-color: rgb(15, 15, 15)!important;
    color: white;
    height: 6%;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: x-large;
    
}
/* .scroll-eff{
        -webkit-transition: opacity 0.2s ease;
} */

.tit{
    text-align: center;
}
.user{
    text-align: right;
}

.inside1{
    position: absolute;
    top: 65%;
    left: 3%;

}

#div2{
    position: relative;
    color: rgb(255, 255, 255);
}
/* .inside2{
    position: absolute;
    top: 20%;
} */

/* .inside2 img{
    max-width: 50%;
    max-height: 50%;
} */

